

#Title {
	padding-top: 10px;
	border: 1px solid black;
	background-color: silver;
	text-align: center;
}

#intro {
	text-align: center;
	font-family: cursive;
}

#identification {
	margin-left: 200px;
}

.list {
	position: absolute;
	top: 140px;
	left: 600px;
	background-color: silver;
	padding: 5px;
	border-radius: 5px
}

#survey {
	margin: 10px;
	background-color: silver;
	padding: 5px;
	text-align: center;
	}

.table {
	margin-left: 40%;
	border: 1px solid black;
	background-color: silver; 
	text-align: center;
}

table {
	text-align: center;
	background-color: white;
}

li {
	margin: 2px;
}

td {
	font-size: .8em;
}

a:visited {
	color: purple;
}