

#Title {
	padding-top: 10px;
	border: 1px solid black;
	background-color: silver;
	text-align: center;
}

.list {
	position: absolute;
	top: 120px;
	left: 400px;
	background-color: silver;
	padding: 5px;
}